@use "../styles/partials/mixins" as *;

.form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  border-radius: 7px;
  height: 1.25rem;
  border: 0;
}

button {
  color: white;
  font-size: 0.6875rem;
  height: 1.25rem;
}
.button {
  background: linear-gradient(rgb(23, 11, 113), rgba(149, 149, 147, 0.752));
}

.show {
  color: white;
  margin-top: -1.875rem;
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(orange, rgba(238, 208, 17, 0.752));
}
.hide {
  display: none;
}

.dobError {
  font-weight: 600;
  text-align: left;
  position: relative;
  top: 3%;
}
.button__step1 {
  position: relative;
  left: 300%;
  bottom: 20%;
  @include responsive(mobile) {
    left: 275%;
  }
  @include responsive(tablet-port) {
    left: 286%;
  }
  @include responsive(desktop) {
    left: 310%;
  }
}

.button__step2 {
  position: relative;
  left: 44%;
  bottom: 20%;
  @include responsive(mobile) {
    left: 40%;
  }
  @include responsive(tablet-port) {
    left: 42%;
  }
  @include responsive(desktop) {
    left: 45%;
  }
}

.button__step3 {
  position: relative;
  left: 31%;
  top: 70%;
  @include responsive(mobile) {
    left: 20%;
  }
  @include responsive(tablet-port) {
    left: 24%;
  }
  @include responsive(desktop) {
    left: 38.5%;
  }
}

select {
  font-size: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
  border: 0;
  border-radius: 0.3125rem;
  width: 13%;
  position: relative;
  right: 12%;
  bottom: 42%;
  left: 32%;

  background: linear-gradient(rgb(238, 236, 233), rgba(208, 204, 184, 0.752));
}
