@use "../styles/partials/mixins" as *;

.form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &-container {
  }
}

input {
  border-radius: 7px;
  height: 1.25rem;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

button {
  color: white;
  font-size: 0.6875rem;
  height: 1.25rem;
  background: linear-gradient(rgb(95, 80, 153), rgba(178, 175, 210, 0.752));
}
.button {
  background: linear-gradient(rgb(23, 11, 113), rgba(149, 149, 147, 0.752));
}

.show {
  color: white;
  margin-top: -1.875rem;
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(orange, rgba(238, 208, 17, 0.752));
}
.hide {
  display: none;
}

.dobError {
  font-weight: 600;
  text-align: left;
  position: relative;
  top: 3%;
}
.button__step1 {
  position: relative;
  left: 309%;
  bottom: 13%;
  @include responsive(mobile) {
    left: 275%;
  }
  @include responsive(tablet-port) {
    left: 286%;
  }
  @include responsive(tablet-land) {
    left: 297%;
  }
  @include responsive(desktop) {
    left: 312%;
  }
}

.button__step2 {
  position: relative;
  left: 92%;
  bottom: 70%;
  @include responsive(mobile) {
    left: 40%;
  }
  @include responsive(tablet-port) {
    left: 86%;
  }
  @include responsive(desktop) {
    left: 93.6%;
  }
}

.button__step3 {
  position: relative;
  left: 35.5%;
  top: 78%;
  @include responsive(mobile) {
    left: 22%;
  }
  @include responsive(tablet-port) {
    left: 24%;
  }
  @include responsive(desktop) {
    left: 40.6%;
  }
}

select {
  font-size: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
  border: 0;
  height: 100%;
  border-radius: 0.3125rem;
  width: 13%;
  position: relative;
  right: 12%;
  bottom: 43%;
  left: 32%;

  background: linear-gradient(rgb(238, 236, 233), rgba(208, 204, 184, 0.752));
}
