.form {
  &-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  border-radius: 4px;

  width: 65%;
  font-size: 11px;

  &__yourdetails {
    padding: 10px;
    display: flex;
    height: 150px;
    margin-top: -10px;

    column-gap: 10px;
    background-color: rgba(187, 180, 180, 0.476);
    &-title {
      text-shadow: 1px 1px grey;
      text-align: left;
      display: flex;
      align-items: center;
      color: white;
      border-radius: 4px;
      height: 40px;
      width: 100%;
      background: linear-gradient(orange, rgba(238, 208, 17, 0.752));
    }
  }

  &__firstname {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 30%;
    text-align: left;
    row-gap: 10px;
  }

  &__surname {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    row-gap: 10px;
  }
  &__email {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
    width: 97%;

    &-container {
      position: absolute;
      top: 26%;
      left: 18%;
      width: 20%;
    }
    &-main {
      display: flex;
    }
  }
}
