@use "../../styles/partials/mixins" as *;

.form {
  border-radius: 0.25rem;

  width: 60%;

  font-size: 0.6875rem;
  &-container {
    margin-top: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__yourdetails {
    padding: 0.625rem;
    display: flex;
    height: 9.375rem;
    margin-top: -0.625rem;

    column-gap: 10px;
    background-color: rgba(187, 180, 180, 0.476);
    &-title {
      cursor: pointer;
      padding-left: 10px;
      text-shadow: 0.0625rem 0.0625rem grey;
      text-align: left;
      display: flex;
      align-items: center;
      color: white;
      border-radius: 0.25rem;
      height: 2.5rem;
      width: 99%;
      background: linear-gradient(orange, rgba(238, 208, 17, 0.752));
    }
  }

  &__firstname {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 30%;
    text-align: left;
    row-gap: 10px;
  }

  &__surname {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    row-gap: 10px;
  }
  &__email {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: left;
    row-gap: 10px;
    position: relative;
    top: 50%;
    right: 63%;
    @include responsive(mobile) {
      right: 64%;
    }
    @include responsive(tablet-port) {
      right: 64%;
    }
    @include responsive(desktop) {
      right: 61.4%;
    }
  }
}
